html {
    font-family: 'Helvetica';
    font-size: 12px;
    margin:0;
    overflow-x:hidden;
}

@font-face {
    font-family: 'Chalkboard';
    src: url(/chalkboard.ttf);
  }

  @font-face {
    font-family: 'Army';
    src: url(/army.ttf);
  }



.week{
    padding: 1vh 1vw;
    width:100vw;
    min-height:100vh;
}

.week1{
    background-color: #d9c8d3;

}

.week3 {
    /* animation: colorchange 20s linear infinite;
    background: linear-gradient(to right, #a2cef6 0%, #9bdde0 100%); */

    background-color: #f4f1eaff;
    color: #655b43;
  }

  .week3 .header{
    font-family: 'Chalkboard';
    display:flex;

  }

  .week3 .head{
    font-size:4em;
  }

  .week3 .subhead{
    font-size:2em;
  }
  
  /* @keyframes colorchange {
    0% {
      background: linear-gradient(to right, #a2cef6 0%, #9bdde0 100%);
    }
    50% {
      background: linear-gradient(to right, #9bdde0 0%, #a2cef6 100%);
    }
    100% {
      background: linear-gradient(to right, #a2cef6 0%, #9bdde0 100%);
    }
  } */

body {
    margin:0;
    overflow-x:hidden;
}

.underline{
    text-decoration:underline;
}

.portal{
    position:fixed;
    bottom:0;
    right:0;
    padding: 10px;
    width: 125px;
    cursor:pointer;
    z-index:2000;
}

.next{
    bottom: 34px !important;
    background-color:#acc685;
}

.last{
    background-color: #ece085;
}

.portal a:hover{
    color:red;
}

.click{
    position:fixed;
    bottom:0;
    left:0;
    padding: 10px 80px 10px 10px;
    background-color: #d5c2cb;
    cursor:pointer;
    z-index:2000;

}

.click a:hover{
    color:red;
}

::selection {
    color: rgb(249, 185, 250);
    background-color: rgb(91, 145, 52);
}


a{
    text-decoration:none;
    color:black;
}

.cloudheader{
    position: fixed;
    right: -13vw;
    top: 0vh;
    transition: all 3s;
    cursor: pointer;
      animation: 3s float infinite ease-in-out !important;
}

.card, .group, .row{
    z-index:1000 !important;
}

.cloudheader img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;

}

.cloudheader:hover{
    right:-30vw;
}

.week1 .cloudh1{
    display: flex;
    z-index: 10000;
    position: absolute;
    top: 60px;
    left: 175px;
    font-weight: bold;
}

.week1 .cloudh1 div{
    margin-right:25px;
}

.week1 .cloudh1 div a:hover{
    color:grey;
}

.week1 .header,
.week2 .header{
    display:flex;
}

.week1 .header img {
    width: 300px;
    margin-right:20px;
}

.week1 .subhead{
    font-family:'Courier New', Courier, monospace;
}

.container{
    margin-bottom:200px;
}

.group {
    margin: 20px 15px 0 0;
}

.card {
    width: 180px;
    height: 250px;
    margin: 5px 5px 0 0;
    overflow: hidden;
    transition: all 1s;
    /* background-color: #d9c8d3 ; */
}

.card:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.link{
    width: 180px;
    height: 250px;
}

.nodal {
    background-color: #D9D9D9;
    width: 70px;
    height: 40px;
    border-radius: 30px;
    margin: 10px;
    position: relative;
}

.dot,
.point {
    background-color: #595555;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.dot {
    position: absolute;
    margin: 10px;
}

.point {
    margin: 60px 80px auto auto;
}

.default {
    background-color: #dfdfdf;
    border: 1px solid black;
}

.white {
    background-color: #ffffff;
    border: 1px solid black;
}

.transparent {
    background-color: #d9c8d3;
    border: 1px solid black;
}

.black{
    background-color: black;
    border: 1px solid black;  
    color:white;
}

.black .link{
    color: white;
    padding: 5px;
}

.blue{
    background-color: #d4f3f9;
    border: 2px solid #120afa;   
}

.purple {
    background-color: #E4D4F9;
    border: 2px solid #720AFA;
}

.orange {
    background-color: #EFFBA7;
    border: 2px solid #719240;
}

.hidden{
    opacity:0.5;
}

.chat{
    position: absolute;
    top: 80vh;
    right: 2vw;
    background-color: #DEE3E2;
    border-radius: 80px;
    padding: 2vw;
    font-size:1.15em;
}

.sara,
.amiri,
.journal2 {
    border: 1px solid black;
}

.sara img,
.amiri img {
    width: auto;
    height: 250px;
    margin-left: -28%;
}

.journal2 img{
    width: auto;
    height: 255px;
}

.cardcontainer {
    display: flex;
}

.row {
    display: flex;
    flex-wrap:wrap;

}

footer{
    display:flex;
}

.websitewiki{
    font-family: 'Courier';
    line-height: 1.2;
    letter-spacing: 0.2px;
    width:90%;
    margin-bottom:50px;
}

/* week 2 */

.week2 .header{
    justify-content:space-between;
    font-weight:bold;
    width:200px;
}

/* week 4 */

.week4 .head{
    font-size: 4em;
    font-family: 'Army';
    margin: 0 10px;

}

.week4 .subhead{
    width: fit-content;
    background-color: #f0e8b3;
    padding: 5px;
    color: black;
    height: min-content;
}

.week4 .header{
    color: #a6edf6; 
    margin-bottom: 10px;
    display:flex;   

}

.week4 footer{
    display: flex;
    background-color: white;
    padding: 20px;
    width: 94vw;
    margin-bottom: 50px;
}

.week4 .websitewiki{
    font-family: 'Courier';
    line-height: 1.2;
    letter-spacing: 0.2px;
    width: 90%;
    margin-bottom:0;
}
.week4{
    background-image:url('/brick.png');
    background-size:800px;
}

.week4 .row{
    display:block;
}

.week4 .container{
    background-color: #d1faa1;
    box-shadow: inset 0px 0px 44px 25px rgb(14 234 185 / 35%);
    width: 250px;
    padding: 30px;
    border-radius: 30px;
}

/* week 5 */

.week5 .card{
    width:300px;
    height: 300px;
    background-color:white;
    border: 1px solid rgb(160 152 174);
    color: rgb(160 152 174);
}

.week5 .card a{
    color: rgb(160 152 174);
}

.week5 .card:hover{
    border: 1px solid  rgb(75, 61, 103);
    color:  rgb(75, 61, 103);  
}

.week5 .card a:hover{
    color:  rgb(75, 61, 103); 
}

.blocktext{
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size:1.3em;
}
/* bounce animation */

@-webkit-keyframes bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
        transform: translate3d(0, -3000px, 0) scaleY(3);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
        transform: translate3d(0, 25px, 0) scaleY(0.9);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
        transform: translate3d(0, -10px, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
        transform: translate3d(0, 5px, 0) scaleY(0.985);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
        transform: translate3d(0, -3000px, 0) scaleY(3);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
        transform: translate3d(0, 25px, 0) scaleY(0.9);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
        transform: translate3d(0, -10px, 0) scaleY(0.95);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
        transform: translate3d(0, 5px, 0) scaleY(0.985);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}


  @keyframes float {
    0% {
      /* filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.616)); */
      transform: translatey(0px);
    }
    50% {
      /* filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); */
      transform: translatey(-10px);
    }
    100% {
      /* filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.616)); */
      transform: translatey(0px);
    }
  }


@media only screen and (max-width: 850px) {

    .chat{
        display:none;
    }

    .cloudheader{
        top: 6vh;    }

        .cloudheader img{
            width:40vw;
        }

        .header{
            display:block !important;
        }

        .week4 .head{
           
    background-color: #a6edf6;
    color: black;
    font-family: unset;
    font-size: unset;
    margin: 0;
    padding: 5px;
        }

}